.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 2px 10px grey;
    background-color: inherit;
    /*background-color: rgba(192, 192, 192, 0.7);*/
}

.main {
    flex: 1 1 auto;
}